<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Second Page</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle @slidelefttitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title @slidelefttitle>My animated card</ion-card-title>
    </ion-card-header>
    <ion-card-content @fadein>
      <img src="../../assets/laptop-desk.jpg">
    </ion-card-content>
  </ion-card>
 
</ion-content>